/* posizione e dimensioni della textarea */
#txtExcel {
	position:absolute;
	top:10%;
	left:10%;
	height:50%;
	width:50%;
	resize:none;
}

/* posizione del campo per l'upload dei file */
#fileUploadExcel {
	position:absolute;
	top:70%;
	left:10%;
}

/* posizione del bottone */
#btnExcel {
	position:absolute;
	top:15%;
	left:65%;
}

/* dimensioni form */
#form1 {
	height:100%;
	width:100%;
}